## Ứng dụng quản lý việc đăng ký khóa học của sinh viên

### Students (Thông tin sinh viên)
+ MSSV (string)
+ Tên (string)
+ Ngày sinh (datatime)
+ email (string)
+ điện thoại string[10]
+ địa chỉ (string)

### Courses (Thông tin khóa học)
+ Mã khóa học (string)
+ Tên khóa học (string)
+ Mô tả (string)
+ Số tín chỉ (int)

### Enrollment (Thông tin đăng ký khóa học của sinh viên)
+ Mã số đăng ký khóa học (int)
+ MSSV (string)
+ mã khóa học (string)
+ ngày đăng kí khóa học (datetime)

In [11]:
import mysql.connector
from mysql.connector import errorcode

In [19]:
config = {
    'user' : 'root',
    'password': '123456789',
    'host': 'localhost'
}

### Các kiểm tra bắt lỗi

In [24]:
#Kiem tra connect voi MySQL
try:
    # conn: connection
    conn = mysql.connector.connect(**config)
    cursor = conn.cursor()
    print("Connect MySQL Server successfully")
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Connect error, please check user and password again")
    else:
        print(err)

Connect MySQL Server successfully

In [ ]:
#Tạo một database và kiểm tra đã tồn tại hay chưa
def dataBase_conn(input):
    try:
        cursor.execute(f"CREATE DATABASE {input}")
    except mysql.connector.Error as err:
        if (err.errno == errorcode.ER_DB_CREATE_EXISTS) :
            print("Database already created")
        else:
            print(err)
            
dataBase_conn("Course_Registration")

Database already created

In [44]:
#Ket noi su dung database Course_Registration
def checkConn():
    try:
        conn.database = config['database']
        print("Connect DB successfully")
    except mysql.connector.Error as err:
        print("Cannot connect DB")
        print(err)

In [35]:
def checkTable(input):
    try:
        cursor.execute(input)
        print(f"Create table successfully")
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("The table is existing")
        else:
            print(err)

In [1]:
def checkUpdate(input1, input2):
    try:
        cursor.execute(input1, input2)
        conn.commit()
        print("Update data successfully")
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        conn.rollback()

### Cài đặt 3 Thông tin của chương trình

+ Students (Thông tin sinh viên)

In [46]:
config['database'] = 'Course_Registration'
checkConn()

sql_Students = (
    "CREATE TABLE Students ("
    " MSSV VARCHAR(255) primary key,"
    " Hovaten VARCHAR(255),"
    " Email VARCHAR(255),"
    " Phone_no VARCHAR(10),"
    " Address VARCHAR(255)"
    ");"
)

checkTable(sql_Students)

Connect DB successfully
Create table successfully

+ Courses (Thông tin khóa học)

In [52]:
config['database'] = 'Course_Registration'
checkConn()

sql_Courses = (
    "CREATE TABLE Courses ("
    " Course_ID VARCHAR(10) PRIMARY KEY," 
    " Course_Name VARCHAR(255)," 
    " Description VARCHAR(255),"
    " Credit INT" 
    ");"
)

checkTable(sql_Courses)

Connect DB successfully
The table is existing

+ Enrollment (Thông tin đăng ký khóa học của sinh viên)

In [54]:
config['database'] = 'Course_Registration'
checkConn()

sql_Enroll = (
    "CREATE TABLE Enroll(" 
    " Regis_ID INT," 
    " MSSV VARCHAR(255)," 
    " Course_Name VARCHAR(255)," 
    " Regis_date DATE" 
    ")"
)
checkTable(sql_Enroll)

Connect DB successfully
Create table successfully

### Close connect with MySQL (end)

In [2]:
cursor.close()
conn.close()

NameError: name 'cursor' is not defined